.error_text {
    background-color: red;
    padding: 8px;
    width: 23vw;
    font-family: arial;
    margin-top: 10px;
    text-align: center;
    color: white;

    margin-left:auto;
	margin-right:auto; 
}
.error_text::after {
	content: " :(";
}



/* Blue button for Submit */
.bluebuttonSubmit { 
	background-color: #00c0ff;
	border:none; 
	border-radius: 7px; 
	color: white; 
	font-size:20px;

	padding: 10px 57px; 

}

/* CENTERS LOGIN FORM */
.centerLogin {
	margin-left:auto;
	margin-right:auto; 
	margin-top:100px;
	max-width:250px;
	text-align:center;
	padding: 40px 0px;

	background-color: white;

	/* Box styling */
	border-top: 4px solid #00c0ff; 
	-webkit-box-shadow: 3px 2px 22px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 2px 22px -6px rgba(0,0,0,0.75);
	box-shadow: 3px 2px 22px -6px rgba(0,0,0,0.75);

}
/* Styling for input forms */
	.inputLogin { 
		border-radius: 7px; 
		border: 1px solid #919191; 
		padding: 11px 0px; 
		text-indent:10px; 
	}

	/* Prevents ugly blue selection bubble */
	.inputLogin:focus {outline:0;}
	.bluebuttonSubmit:focus {outline:0;}

	#loginLogo {
		width:155px;
		height:auto;
		padding-bottom: 20px;
	}

/* full page BG */
html { 
  background: url(../img/loginbg-min.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}