body{
    margin: 0;
}

li {
    list-style: none;
    font-family: arial;
}
ul{
    padding-left: 5%;
}

a { 
    text-decoration:none; 
} 

/* Global Navigation Styling */ 
    /* Top Navbar */ 
    .header {
        height: 50px;
        position: fixed;
        width: 100vw;
        background-color: #0c1c29;
        border-bottom: 2px solid #00c0ff;
        z-index: 9999;
    }

    .log_out{
        margin-top: 5px;
        margin-left:30px;
    }

    /* sidebar navigation */ 
    .sidebar {
        display: inline-block;
        position: fixed;
        float: left;
        background-color: #1e2126;
        color: white;
        width: 192px;
        height: 100vh;
        padding-top: 10vh;
    }

/* Inventory Pages */ 
    /* INVENTORY SEARCH RESULTS STYLES */

    .search_button{
        margin-left: 10px;
    }

    .inventory_container { 
        padding-top: 12vh;
        padding-left: 220px;
        max-width:55vw;
    }

    .item_name { 
        font-size: 18px;
    }

    .item_description { 
        font-size: 13px;
        color: #575757;
    }

    .item_price { 
        color: #909090;
    }

    .item_quantity { 
        color: #909090;
    }
